#titleBar {
	display: flex;
	position: absolute;
	top: 10px;
	height: 8px;
	width: 100%;
	justify-content: center;
	margin: 0;
	z-index: 10000;
}

#ton {
	height: 100%;
	width: 20px;
	border: 1px solid gray;
}

#toff {
	height: 100%;
	width: 20px;
	border: 1px solid gray;
}

#grab {
	border: 1px solid gray;
	-webkit-app-region: drag;
	user-select: none;
	background-color: #ddd;
	height: 100%;
	width: 30px;
}

#grab.on {
	background-color: rgba(0, 120, 120, 0.6);
}

#grab.off {
	background-color: rgba(120, 120, 0, 0.6);
}
